<?php
$dirHost = isset($_SERVER['HTTP_HOST']) ? $_SERVER['HTTP_HOST'] : 'default';
return array(
    'assets_combine' => array(
        'head_script' => false,
        'head_link'   => false,
        'dir'         => __DIR__ . '/../../docs/cache/' . $dirHost . '/',
    ),
    'assetic' => array(
        'config' => array(
            'node_bin' => '/usr/bin/node',
        ),
        'filters' => array(
            'uglifyjs2' => array(
                'bin'      => '/usr/bin/uglifyjs',
                'compress' => false,
                'beautify' => false,
                'mangle'   => false,
                'screwIe8' => false,
                'comments' => false,
                'wrap'     => false,
            ),
            'uglifycss' => array(
                'bin'           => '/usr/bin/uglifycss',
                'expand_vars'   => false,
                'ugly_comments' => false,
                'cute_comments' => false,
            ),
        ),
    ),
    'service_manager' => array(
        'factories' => array(
            'UglifyJs2' => '\ZendAdditionals\Assetic\Filter\UglifyJs2ServiceFactory',
            'UglifyCss' => '\ZendAdditionals\Assetic\Filter\UglifyCssServiceFactory',
        ),
    ),
    'view_helpers' => array(
        'invokables' => array(
            'headScript' => '\ZendAdditionals\View\Helper\HeadScript',
            'headLink'   => '\ZendAdditionals\View\Helper\HeadLink',
        ),
    ),
);
